<template name="header">
  <header class="main-header">
    <nav>
      <div class="nav-wrapper">
          <a href="/" class="brand-logo center">{{appName}}</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            {{#if currentUser}}
              <li><a href="#" class="logout">Logout</a></li>
              <li><a href="{{pathFor 'transfers'}}">Transfers</a></li>
            {{else}}
              {{#unless currentRoute 'login'}}
                <li><a href="{{pathFor 'login'}}">Login</a></li>
              {{/unless}}
              {{#unless currentRoute 'register'}}
                <li><a href="{{pathFor 'register'}}">Register</a></li>
              {{/unless}}
            {{/if}}
            </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          {{> userBasicInfo}}
        </ul>
      </div>
    </nav>
  </header>
</template>
