<template name="header">
  <header class="main-header">
    <ul class="pull-left">
      {{#unless currentRoute 'home'}}
        <li><a href="{{pathFor 'home'}}">Home</a></li>
      {{/unless}}
      {{#if currentUser}}
        <li><a href="#" class="logout">Logout</a></li>
      {{else}}
        <li><a href="{{pathFor 'login'}}">Login</a></li>
        <li><a href="{{pathFor 'register'}}">Register</a></li>
      {{/if}}
    </ul>
    <div class="pull-right">
      {{> userBasicInfo}}
    </div>
  </header>
</template>
